<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Let's inference!</title>
</head>
<body>
    <h2>AIに感情を分類させてみよう!</h2>
    <p>あなたの入力した文章は</p>
    {{ . }}
    <p>です</p>

    <p>AIの回答は間違いでしたか？</p>
    <p>以下のボタンを押して失敗データベースに保存しましょう！</p>
    <form action="/store?failed_sentence=hello" method="get" enctype="application/x-www-form-urlencoded">
        <input type="text" name="failed_sentence" placeholder="失敗した文を入力してください"/>
        <input type="submit" value="保存">
    </form>
</body>


</html>

